@charset "utf-8";
/* CSS Document */
.b-txt-underline span{ text-decoration:none; border-bottom:1px solid #000;}
.b-equal-margin{margin-top:6em;}
.b-img-spc {text-align:center;}
.b-img-spc img{margin-right:1em; margin-bottom:1em;}
.b-moody-background{padding:2em 0; background:url(../img/Background-1170.jpg) no-repeat scroll top right; margin:0 auto; }
.b-padd{ padding:0.5em 1em;left:auto; right:0;}
.b-relateive{position:relative;}
.b-absolute{position:absolute; top:-8px; left: 45%; min-width:50px; text-align:center;}
.b-absolutebotmrght{position:absolute; bottom:-14px; right:15px; min-width:120px; text-align:center;}
.b-absolutebotmrght2{position:absolute; bottom:-14px; left:40px; min-width:240px; text-align:center;}
.b-top-marg{margin-top:0em;}



/*..::-Registration Form-::*/
/*.teaser-img:after{content:''; position:absolute;display:block;background:url(../img/Teaser.jpg) no-repeat scroll top left; width:100%; height:100%;}
*/
.teaser-img img{ background-position:top left;}
.reg-space{margin-bottom:2em;}
.reg-space-mini{margin-bottom:1.5em;}
.reg-space-top{margin-top:1em; }
.reg-padd-left{padding-left:2em;}
/*..::-End Registration Form-::*/


/*..::-Profile Page-::*/
.b-head-mood{background:url(../img/Mood.jpg) no-repeat scroll top right; margin-bottom:1em;}
.b-head-mood .span12{padding-top:60px; text-align:center; /* padding-left:22em;*/}

.b-left{position:relative;}
.b-left ul{margin-top:-25px; margin-left:20px;}
.prof-space{margin:1em 0;}
.paypa-form{ margin-top:4em; position:relative;}
.form-name{position:absolute; top:-8px; left:15px;}
.profile-img-align{ margin-top:-100px;}
.profile-img-align img{margin-left:15px;}
.profile-img-align input{margin:10px 0 6px 30px;}

.profile-rate{ position:relative; margin-bottom:1em;}
.rated{position:absolute; }
.rated ul{ margin-left:3em;}
.rated-capacity{position:absolute;}
.rated-capacity ul{margin-left:3em;}

/*..::Small Dots for Indication on each Menu button::..*/
.campaigns-all{position:absolute; left: 70%; top: 29%;}
.pledges-all{position:absolute;  left: 70%; top: 52%;}
.messages-all{position:absolute;  left: 70%; top: 79%;}
/*..::-End Of Small Dots...-::..*/

/* a */
.campg-count{display:block;text-align:center;}

/*3b*/
#change-picture-3b{margin-top:1em;}

/*3c*/
.campaign-3c{position:relative;}
/*.campaign-3c .label{ position:absolute; top:-7px; left:50%;}*/
.campaign-3c .label{ position:absolute; top:0px; left:15%;}

/*3c1*/
.duration-padd{padding-left:0%;}
.optnal-show-3c1{position:relative; margin-top:1em;}
.absolute-3c1{position:absolute; top:-10px;}
.spac-3c1-top{margin-top:2em;}
.real-img-view{position:relative; margin-bottom:1em;}
.real-img-view .vvw-abs{position:absolute; top:0; right:5px;}

/*3d*/
.some-3d{margin-top:0.5em;}
.rel-4d{position:relative}
.rel-abs-4d{position:absolute; left:34%; top:-5px;}
.smaller-star{font-size:10px;}
.small-padd{padding:0 8px 0px 0;}
.small-padd-tt{margin-left:10px;}

/*3e*/
.profile-over-3e{margin-bottom:6px;}
.profile-over-3e:hover{display:block; background:#cccccc; cursor:pointer; cursor:hand; border-radius:6px;}
.mess-rel{position:relative;}
.mess-absl{position:absolute; top:-3px; left:20%; border-radius:50%;}
.mess-absl2{position:absolute; top:30%; right:0%; border-radius:50%;}
.rel-butt{position:relative;}
.abs-butt{ position:absolute; top:0; right:0;}
.butt-space{ margin-top:10px;}
.backgnd-3e-fix-head{background:#FC0;}
.padd-txt-3e{padding-left:15px;}

/*..::-End Profile Page-::*/



/*..::-Browse Page-::*/

#browse-looking-for,
#browse-reach { width: 100%; }

#browse_filters .input-prepend .add-on:first-child,
#browse_filters .input-prepend .btn:first-child {
    width: 50px;
}

/*4a*/
.padd-browse-leftcontent{ padding:0px 15px;}
.margin-top-browse{margin-top:1em;}
.moveup{margin-top:-40px;}
.browse-rate-relt{position:relative;}
.browse-abosl{position:absolute; width:100%; margin:0 auto;}
.browse-abosl2{position:absolute; width:100%; margin:0 auto;}
.browser-cntr-contnt{ background:#096;}
.padd-browse-both{padding:10px 0;}
.over-color:hover{background:#f2eb9e; cursor: pointer; }

/*4b*/
.undrln{border-bottom:1px solid #000; text-align:left; }
.back-browse-right-4b{ text-align:center;/*background:#096;*/}
.share-browse li{padding-top:10px;}
.cust-cntr-4b{text-align:center; width:90%;}
.padd-top-4b{margin-top:1em;}
/*..::-End Browse Page-::*/


/*..::-Media Queries-::..*/

@media only screen and (max-width:1024px)
{
	/*..::-Profile Page-::*/
	/*3c*/	
	.campaign-3c .label{ position:absolute; top:0px; left:18%;}
	
	/*3d*/
	.rel-abs-4d{position:absolute; left:42%; top:-5px;}
	.small-padd{padding:0 8px 4px 0;}
	/*3e*/	
	.mess-absl{position:absolute; top:-3px; left:30%; border-radius:50%;}
	.mess-absl2{position:absolute; top:30%; right:0%; border-radius:50%;}	
	.abs-butt{ position:absolute; top:0; right:0;}
	/*..::-End Profile Page-::*/
	
	/*..::-Browse Page-::*/
	.padd-browse-leftcontent{ padding:0px 0px;}
	/*..::-End Browse Page-::*/
}

@media only screen and (max-width:768px)
{
	h3.b-txt-underline{font-size:20px;}
	
	/*..::-Registration Form-::*/
	.big-button li { margin-right:10em;}
	.top-some{margin-top:1em;}
	
	/*..::-End Registration Form-::*/
	
	
	/*..::-Profile Page-::*/
	.profile-img-align input{margin:10px 0 6px 5px;}
	.rated ul{ margin-left:0.9em;}
	.rated-capacity ul{margin-left:0.9em;}
	.drop-to-left{ clear:both; float:none;}
	.paypa-form > .form-horizontal .control-label 
	{
		text-align: left;
	}
	.paypa-form .input-xlarge {	
		width: 200px;
	}
	.paypa-form > .form-horizontal .controls {
		margin-left: 140px;
	}
	.paypa-form #b-add-bank{margin-left:145px;}
	
	/*..::Small Dots for Indication on each Menu button::..*/
	.campaigns-all{position:absolute; left: 90%; top: 29%;}
	.pledges-all{position:absolute;  left: 90%; top: 52%;}
	.messages-all{position:absolute;  left: 90%; top: 79%;}
	/*..::-End Of Small Dots...-::..*/

	
	/* a */
	.campg-count{display:block;text-align:left!important; padding-left:1em;}
	
	/*3b*/
	#change-picture-3b{margin-top:1em;}
	
	/*3c*/
	/*.campaign-3c .label{ position:absolute; top:-7px; left:65%;}*/
	.campaign-3c .label{ position:absolute; top:0px; left:24%;}
	
	/*3c1*/
	.duration-padd{padding-left:0%;}

	/*3d*/
	.rel-abs-4d{position:absolute; left:58%; top:-5px;}
	.small-padd{padding:0 8px 4px 0;}
	
	/*3e*/	
	.mess-absl{position:absolute; top:-3px; left:42%; border-radius:50%;}
	.mess-absl2{position:absolute; top:30%; right:0%; border-radius:50%;}	
	.abs-butt{ position:absolute; top:0; right:0;}
	
	/*..::-End Profile Page-::*/
	
	
	/*..::-Browse Page-::*/
	/*4a*/
	.padd-browse-leftcontent{ padding:0px 0px;}
	.padd-browse-leftcontent .input-append, .input-prepend {white-space: normal;}	
	
	/*4b*/
	
	/*..::-End Browse Page-::*/

}
@media only screen and (max-width:480px)
{
	h3.b-txt-underline{font-size:24px; text-align:left;}
	.b-img-spc img{margin-right:1em; margin-bottom:1em;}
	.b-equal-margin{margin-top:2em;}
	.btn-to-left{float: none;}
	ul.btn-to-left{margin-top:1em;}
	.b-absolute{position:absolute; top:-8px; left: 18%; min-width:50px; text-align:center;}
	.b-absolutebotmrght{position:absolute; bottom:-14px; right:12px; min-width:120px; text-align:center;}
	.b-absolutebotmrght2{position:absolute; bottom:-14px; left:12px; min-width:120px; text-align:center;}
	.b-top-marg{margin-top:1em;}
	
	/*..::-Registration Form-::*/
	
	/*..::-End Registration Form-::*/
	
	
	/*..::-Profile Page-::*/
	.profile-rate{ position:relative; margin-top:1em;margin-left:1.2em;margin-bottom:2em;}
	.profile-img-align{ margin-top:10px;}
	.rated ul{ margin-left:1.5em;}
	.rated-capacity ul{margin-left:1.5em;}
	.b-left ul{margin-top:0px; margin-left:0px;}
	.paypa-form > .form-horizontal .control-label 
	{
		text-align: left;
	}
	.paypa-form .input-xlarge {	
		width: 100%;
	}
	.paypa-form > .form-horizontal .controls {
		margin-left: 0px;
	}
	.paypa-form #b-add-bank{margin-left:0px;}
	/* a */
	.campg-count{display:block;text-align:left!important; padding-left:3em;}
	
	/*3b*/
	
	/*3c*/
	/*.campaign-3c .label{ position:absolute; top:-7px; left:19%;}*/
	.campaign-3c .label{ position:absolute; top:0px; left:23%;}
	.cust-cntr-4b{text-align:left;}
	
	/*3d*/
	.rel-abs-4d{position:absolute; left:28%; top:-5px;}
	.small-padd{padding:0 8px 4px 0;}
	
	/*3e*/	
	.mess-absl{position:absolute; top:-3px; left:8%; border-radius:50%;}
	.mess-absl2{position:absolute; top:30%; right:0%; border-radius:50%;}	
	.abs-butt{ position:absolute; top:0; right:0;}
	.butt-space{ margin-top:10px;}
	.backgnd-3e-fix-head{background:#FC0;}
	.butt-space-bottm{margin-bottom:5px;}
	
	/*..::-End Profile Page-::*/
	
	
	/*..::-Browse Page-::*/
	/*4a*/
	.browse-cust-mov{float:none; padding-top: 10px;}	
	.browse-cntnt-toleft{text-align:left; margin-top:1em;}
	.browse-rate-relt{position:relative;}
	.browse-abosl{position:absolute; width:50%; top:-50px; left:100px;}
	.browse-abosl2{position:absolute; width:50%;top:-50px;left:100px;}
	
	/*4b*/
	.cust-arrw-4b{visibility:hidden;}
	.padd-top-4b{margin-top:3em;}
	/*..::-End Browse Page-::*/

}

@media only screen and (max-width:320px)
{
	h3.b-txt-underline{font-size:24px; text-align:left;}
	.b-img-spc img{margin-right:1em; margin-bottom:1em;}
	.b-equal-margin{margin-top:2em;}
	.btn-to-left{float: none;}
	ul.btn-to-left{margin-top:1em;}
	
	.b-absolute{position:absolute; top:-8px; left: 30%; min-width:50px; text-align:center;}
	.b-absolutebotmrght{position:absolute; bottom:-14px; right:12px; min-width:120px; text-align:center;}
	.b-absolutebotmrght2{position:absolute; bottom:-14px; left:12px; min-width:120px; text-align:center;}
	
	.navbar-search{margin-bottom:1em;}	
	.b-no-style li{margin-bottom:0.5em; margin-right:4em; text-align:center; display:none;}
	.b-img-spc {text-align:left;}
	.b-img-spc img{margin-right:0.5em;}
	
	
	/*..::-Registration Form-::*/
	.big-button li { margin-right:0em;}
	/*..::-End Registration Form-::*/
	
	/*..::-Profile Page-::*/
	.profile-img-align{ margin-top:10px;}	
	.b-left ul{margin-top:0px; margin-left:0px;}
	
	/*3b*/
	
	/*3c*/
	/*.campaign-3c .label{ position:absolute; top:-7px; left:30%;}*/
	.campaign-3c .label{ position:absolute; top:0px; left:35%;}
	
	/*3c1*/
	.break-line .input-append, .input-prepend {white-space: normal;}
	
	/*3d*/
	.rel-abs-4d{position:absolute; left:46%; top:-5px;}
	
	/*3e*/	
	.mess-absl{position:absolute; top:-3px; left:14%; border-radius:50%;}
	.mess-absl2{position:absolute; top:30%; right:0%; border-radius:50%;}	
	.abs-butt{ position:absolute; top:0; right:0;}
	.butt-space{ margin-top:10px;}
	.backgnd-3e-fix-head{background:#FC0;}
	.butt-space-bottm{margin-bottom:5px;}
	.btn-null-pull{float:none;}
	/*..::-End Profile Page-::*/
	
	
	/*..::-Browse Page-::*/	
	/*4b*/
	.padd-top-4b{margin-top:4em;}
	/*..::-End Browse Page-::*/
}

/*..::-End Media Queries-::..*/



/*..::-Un Used Code-::..*/
/*.b-absolute{position:absolute; top:-10px; right:40px; background:#ccc; display:inline-block; min-width:50px; text-align:center; border-radius:25px; border:1px solid #000;}*/
/*.b-absolutebotmrght{position:absolute; bottom:-19px; right:10px; background:#ccc; display:inline-block; min-width:120px; text-align:center; border-radius:20px; border:1px solid #000;}*/
/*.b-absolutebotmrght2{position:absolute; bottom:-19px; left:40px; background:#ccc; display:inline-block; min-width:240px; text-align:center; border-radius:20px; border:1px solid #000;}*/